/* svg {
  background: #f7f7f7;
}
#india {
  stroke: #101010;
  stroke-width: 0.6;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  font-size: 10px;
  color: #222;
  background: #fff;
  border-radius: 2px;
  pointer-events: none;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
}
.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.key text {
  font-size: 10px;
}

.key rect {
  stroke-width: 0.4;
} */

#chartContainer3 .highcharts-legend {
  display: none;
}
#chart-india .highcharts-legend {
  display: none;
}
